<html ng-app="app">
<head>
	<title>Pixwords destroyer</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

	<script src="/javascripts/WordsController.js"></script>

</style>
</head>
<body>
	<ng-view></ng-view>
</body>
</html>
